.task-bubble {
        background-color: #EEEEEE;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        position: relative;
        width: 90%;
        min-height: 50px;
        cursor: pointer;
}

.task-bubble .checkbox {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
}

.task-bubble .check-unchecked {
        background-image: url("/icons/task-bubble/Unchecked.svg");
        height: 40%;
        width: 40%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
}

.task-bubble .check-checked {
        background-image: url("/icons/task-bubble/Checked.svg");
        height: 40%;
        width: 40%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
}

.task-bubble .text-wrapper {
        align-items: center;
        color: #000000;
        display: flex;
        font-family: "Roboto", Helvetica;
        font-size: 15px;
        font-weight: 400;
        justify-content: left;
        letter-spacing: 0;
        width: 292px;
        text-overflow: ellipsis;
}

.task-bubble:hover {
        box-shadow: 0px 2px 8px #00000040;
        transition: box-shadow 0.2s ease;
}