# dependencies
node_modules/

# builds
dist/
build/
.vite/

# env & secrets
.env
*.env.local
.env.*.local
google-cloud-service-key.json
firebase-credentials.json

# logs & caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache

# testing
coverage/
testExample.txt

# editor/os
.vscode/
.idea/
.DS_Store
Thumbs.db
