.sidebar {
        background-color: #d9d9d9;
        min-height: 100vh;
        padding-top: 10vh;
        width: 10vw;
        display: flex;
        flex-direction: column;
        position: fixed;
}

.link {
        color: #333333;
        width: 9vw;
        padding-left: 1vw;
        align-content: center;
        position: relative;
        height: 3.3rem;
}

.link p {
        padding: 1rem 0;
        margin: 0;
        font-style: italic;
}

a,
a:visited,
a:hover,
a:active {
        color: black;
        text-decoration: none;
}

.user {
        background-color: #cecece;
        color: #333333;
        width: 9.5vw;
        align-content: center;
        position: fixed;
        height: 4rem;
        top: calc(100vh - 4rem);
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 0.5vw;
        gap: 0.5rem;
}

.user-avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid transparent;
}

.user p {
        font-weight: bold;
        margin: 0;
        line-clamp: 1;
        text-overflow: ellipsis;
}

.link:hover {
        font-weight: bold;
        background-color: #c3c3c3;
        transition: background-color 0.2s ease;
        cursor: pointer;
}