html, body {
        margin: 0;
        padding: 0;
}

#root {
        min-height: 100vh;
}

.desktop {
        background-color: #9fcbe3e6;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        min-height: 100vh;
        font-family: "Roboto-Bold", Helvetica;
}

.desktop .header {
        left: 0 !important;
        top: 0 !important;
        order: 1;
}

.content {
        display: flex;
        order: 2;
        margin-left: 10vw;
        min-height: 90vh;
}

.desktop .left-panel {
        background-color: #fcfcfc;
        position: relative;
}

.desktop .right-panel {
        margin-top: 10vh;
        width: 100%;
        position: relative;
        color: #000000;
}

.desktop .task-heading {
        background-color: #fcfcfc;
        height: 10vh;
        margin-left: 10vw;
        pointer-events: none;
        position: fixed;
        margin-top: 10vh;
        width: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
}

.desktop .add-a-task-panel {
        background-color: #fcfcfc;
        height: 15vh;
        margin-left: 10vw;
        pointer-events: auto;
        position: fixed;
        margin-top: 85vh;
        width: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
}

.desktop .add-a-task-panel .add-a-task {
        pointer-events: auto;
}

.desktop .my-tasks {
        color: #000000;
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 0;
        text-align: center;
}

.loading {
        margin-top: 20px;
        margin-left: 10px;
        font-family: "Roboto-Bold", Helvetica;
        font-size: 20px;
}

.error {
        margin-top: 20px;
        margin-left: 10px;
        font-family: "Roboto-Bold", Helvetica;
        font-size: 20px;
}