.spinner {
  width: 40px;
  height: 40px;
  animation: spin 1.5s infinite;
  border: 2px dashed;
  border-color: black transparent;
  border-radius: 50%;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  } to {
      transform: rotate(350deg);
  }
}