.header {
        background-color: #5babd9;
        height: 10vh;
        width: 100%;
        display: grid;
        grid-template-columns: 10vw 90vw;
        grid-auto-rows: 10vh;
        align-items: center;
        justify-items: center;
        position: fixed;
        z-index: 100;
}

.header .logo {
        display: flex;
        align-items: center;
        justify-content: center;
}

.header .image {
        max-height: 7vh;
        width: auto;
        aspect-ratio: 0.7;
        object-fit: contain;
}